apiVersion: v1
kind: Secret
metadata:
  name: notifications
  namespace: notifications
  labels:
    project: notifications
    service: notifications
stringData:
  APP_ENV: 'develop'
  TZ: 'America/La_Paz'

  DB_HOST: 'notifications-db'
  DB_PORT: '5432'
  DB_NAME: 'notifications'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'notifications-password'
  
  KAFKA_ENABLED: 'true'
  KAFKA_BROKERS: 'kafka-1:9092,kafka-2:9093'
  KAFKA_GROUP_ID: 'integrations'
  KAFKA_CONSUMER_CONNECTION_TIMEOUT: '10000'
  KAFKA_CONSUMER_RETRIES: '3'
  KAFKA_CONSUMER_RETRY_FACTOR: '2'
  KAFKA_CONSUMER_INITIAL_RETRY_TIME: '3000'
  KAFKA_CONSUMER_SESSION_TIMEOUT: '100000'
  KAFKA_CONSUMER_HEARTBEAT_INTERVAL: '10000'

  ENABLED_CRON_JOB_EXECUTE_QUEUE_MESSAGES: 'true'
  CRON_JOB_EXECUTE_QUEUE_MESSAGES: '* * * * *'
  MAX_RETRIES_QUEUE_MESSAGES: '3'

  ENABLED_CRON_JOB_EXECUTE_DELETE_NOTIFICATIONS: 'true'
  CRON_JOB_EXECUTE_DELETE_NOTIFICATIONS: '*/1 * * * *'
  DAYS_NUMBER_TO_DELETE_NOTIFICATIONS: '90'

  MAIL_HOST: 'mailhog'
  MAIL_PORT: '1025'
  MAIL_USERNAME: 
  MAIL_PASSWORD: 
  MAIL_SECURE: 'false'
  MAIL_FROM_ADDRESS: 'super-admin@notifications.com'
  MAIL_FROM_NAME: 'Bolivia'

  WHATSAPP_API_URL: 'https://graph.facebook.com/v22.0'
  WHATSAPP_PHONE_NUMBER_ID: ''
  WHATSAPP_ACCESS_TOKEN: ''
