apiVersion: v1
kind: Secret
metadata:
  name: gs1-registry-sync
  namespace: gs1
  labels:
    project: gs1
    service: gs1-registry-sync
stringData:
  POSTGRES_PASSWORD: 'gs1-registry-sync-password'
  POSTGRES_DB: 'gs1_registry_sync'

  DB_HOST: 'gs1-registry-sync-db'
  DB_PORT: '5432'
  DB_NAME: 'gs1_registry_sync'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'gs1-registry-sync-password'
  KAFKA_ENABLED: 'true'
