apiVersion: v1
kind: Secret
metadata:
  name: gs1-notifications
  namespace: gs1
  labels:
    project: gs1
    service: gs1-notifications
stringData:
  POSTGRES_PASSWORD: 'gs1-notifications-password'
  POSTGRES_DB: 'gs1_notifications'

  DB_HOST: 'gs1-notifications-db'
  DB_PORT: '5432'
  DB_NAME: 'gs1_notifications'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'gs1-notifications-password'
  KAFKA_ENABLED: 'true'
